<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>

    <add key="PathChromeDriver"  value="C:\Drivers"/>
    <add key="urlBase"            value = "http://192.168.99.100:8989"/>
    
    <add key="login"            value = "administrator"/>
    <add key="senha"            value = "administrator"/>

    <add key ="DefaultTimeout" value="10"/>
    <add key ="DefaultTimeoutBetweenEvents" value= "300"/>
    
    <add key="Browser" value="Chrome"/>
    
    <add key="Local" value="false"/>  
    <add key="NavegadorDefault" value="firefox"/>
    
    
    <add key="IpHub" value="http://192.168.99.100:4444/wd/hub"/>

    <add key="DatabaseServer" value="192.168.99.100" />
    <add key="DatabaseName" value="bugtracker" />
    <add key="DBUser" value="mantisbt" />
    <add key="DBPassword" value="mantisbt" />
    <add key="Port" value="3306" />
    <add key="SslMode" value="none" />
    
    
    <add key="DBConnectionTimeout" value="6000" />


    <add key="IndExecutaKlov"     value = "false"/>
    <add key="servidorMongoDB"      value = "xxx"/>
    <add key="nomeProjeto"          value = "Selenium Mantis"/>

    <add key="DiretorioFolderLog" value = "C:\LogsAutomacao\SeleniumMantis\"/>
    <add key="NomeRelatorio"      value = "Report_Selenium_Mantis.html"/>

  </appSettings>
    
</configuration>